<header *ngIf="orders?.order">
    <div class="cell w-25">Order name</div>
    <div class="cell w-20">Age</div>
    <div class="cell w-20">Full name</div>
    <div class="cell w-20">Sex</div>
</header>
<ng-container *ngFor="let order of orders?.order">
    <div class="container-row">
        <div class="cell w-25">
            <ng-container *ngIf="order.orderName; else noName">
                {{order.orderName}}
            </ng-container>
            <ng-template #noName>
                -
            </ng-template>
        </div>
        <div class="cell w-20">
            <ng-container *ngIf="order?.patient?.age; else noAge">
                {{order?.patient?.age}}
            </ng-container>
            <ng-template #noAge>
                -
            </ng-template>
        </div>
        <div class="cell w-20">
            <ng-container *ngIf="order?.patient?.fullName; else noFullName">
                {{order?.patient?.fullName}}
            </ng-container>
            <ng-template #noFullName>
                -
            </ng-template>
        </div>
        <div class="cell w-15">
            <ng-container *ngIf="order?.patient?.sex?.name; else noSex">
                {{order?.patient?.sex?.name}}
            </ng-container>
            <ng-template #noSex>
                -
            </ng-template>
        </div>
        <div class="cell w-20 btn-container">
            <button mat-button
            [disabled]="order.isFavorite"
            (click)="addToFavorites(order)">
                Add to favorites
            </button>
            <ng-container *ngIf="order.isFavorite">
                <span class="material-icons">
                    star_border
                </span>
            </ng-container>
        </div>
    </div>
</ng-container>
